body {
font-family: 'Open Sans';
color: #84859c;
}
a {
	color:#222;
}
header {
	background-color: #646582;
}
.logo {
	display:flex;
	height:5rem;
	align-items: center;
}
.logo a {
	flex: 0 0 auto;
}
h3 {
	margin-top: 5rem;
    font-size: 2.2rem;
    font-weight: 300;
}
form .holder {
	margin:1rem 0 1.5rem;
}
form select {
	margin:0;
}

.chapter-menu li {
    border-bottom: 1px solid #c1c1c7;
    border-left: none;
    padding: 4px 20px;
    line-height: 2.5;
}

.chapter-menu li a {
color: #84859c;
}
.chapter-menu li a:hover {
color: #646582;
}

body.login {
	background-color: #646582;
}

.grid-container {
	max-width:65em;
	height:100%;
}

.login-container {
	height:100%;
	display:flex;
	align-items:center;
}
.login-block {
	background-color:#f1f1f1;
	color:#333;
}
.login-block label {
	color:#333;
}

.title-text {
	color:#f1f1f1;
	font-size: 24px;
    font-weight: 300;
    padding: 27px 0px;
}
.logout{
    float:right;
    color:#FFF;
}

.doc-type:first-letter {
    text-transform:capitalize;
}

h3{
    margin-top:2rem !important;
}

[type=checkbox]+label, [type=radio]+label{
    margin-left:0;
}